In [ ]:
    from sqlalchemy import create_engine
    import pandas as pd
    import os
    
    from math import ceil
    from functools import reduce

In [ ]:
en=create_engine('postgresql://aaron:123@localhost/ny')
en.connect()

In [ ]:
df = pd.read_sql(con=en,sql="nyc-rolling-sales")
df.head()

In [ ]:
df.drop(df.columns[[0]], axis=1, inplace=True)
df.drop('ease-ment', axis=1, inplace=True)
df.shape

In [ ]:
df['sale_date']=pd.to_datetime(df.sale_date)

In [ ]:
df[u'año']=df['sale_date'].map(lambda x:x.year)
df[u'mes']=df['sale_date'].map(lambda x:x.month)
df[u'dia']=df['sale_date'].map(lambda x:x.day)

In [ ]:
df['Q']=df['mes'].map(lambda x:ceil(x/3))
df['S']=df['mes'].map(lambda x:ceil(x/6))

In [ ]:
df.head()

In [ ]:
lst_dtiempo=['year_built','sale_date','año','mes','dia','Q','S']
td_tiempo=df[lst_dtiempo].copy()
td_tiempo.drop_duplicates(inplace=True)
td_tiempo.shape
td_tiempo.sort_values(['year_built','sale_date'],ascending=[1,1],inplace=True)
td_tiempo.reset_index(drop=True,inplace=True)
td_tiempo['id_tiempo']=td_tiempo.index+1
td_tiempo.head()

In [ ]:
df=df.merge(td_tiempo,on=lst_dtiempo,how='inner')
df.drop(lst_dtiempo,axis=1,inplace=True)

In [ ]:
df.head()

In [ ]:
lst_dubicacion=['borough','neighborhood','block','lot','address','apartment_number','zip_code']
td_ubica=df[lst_dubicacion].copy()
td_ubica.drop_duplicates(inplace=True)
td_ubica.shape
td_ubica.sort_values(['neighborhood'],ascending=[1],inplace=True)
td_ubica.reset_index(drop=True,inplace=True)
td_ubica['id_ubica']=td_ubica.index+1
td_ubica.head()

In [ ]:
df=df.merge(td_ubica,on=lst_dubicacion,how='inner')
df.drop(lst_dubicacion,axis=1,inplace=True)

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
lst_dtcons=['building-class-category','building_class_at_present','building_class_at_time_of_sale']
td_tcons=df[lst_dtcons].copy()
td_tcons.drop_duplicates(inplace=True)
td_tcons.shape
td_tcons.sort_values(['building-class-category','building_class_at_present','building_class_at_time_of_sale'],ascending=[1,1,1],inplace=True)
td_tcons.reset_index(drop=True,inplace=True)
td_tcons['id_cons']=td_tcons.index+1
td_tcons.head()

In [ ]:
df=df.merge(td_tcons,on=lst_dtcons,how='inner')
df.drop(lst_dtcons,axis=1,inplace=True)

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
lst_dimpu=['tax_class_at_present','tax_class_at_time_of_sale']
td_impu=df[lst_dimpu].copy()
td_impu.drop_duplicates(inplace=True)
td_impu.shape
td_impu.sort_values(['tax_class_at_present','tax_class_at_time_of_sale'],ascending=[1,1],inplace=True)
td_impu.reset_index(drop=True,inplace=True)
td_impu['id_impu']=td_impu.index+1
td_impu.head()

In [ ]:
df=df.merge(td_impu,on=lst_dimpu,how='inner')
df.drop(lst_dimpu,axis=1,inplace=True)

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
lst_dunits=['residential_units','commercial_units','total_units']
td_units=df[lst_dunits].copy()
td_units.drop_duplicates(inplace=True)
td_units.shape
td_units.sort_values(['residential_units','commercial_units'],ascending=[1,1],inplace=True)
td_units.reset_index(drop=True,inplace=True)
td_units['id_unit']=td_units.index+1
td_units.head()

In [ ]:
df=df.merge(td_units,on=lst_dunits,how='inner')
df.drop(lst_dunits,axis=1,inplace=True)

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
lst_dtamaño=['land_square_feet','gross_square_feet']
td_tamaño=df[lst_dtamaño].copy()
td_tamaño.drop_duplicates(inplace=True)
td_tamaño.shape
td_tamaño.sort_values(['land_square_feet','gross_square_feet'],ascending=[1,1],inplace=True)
td_tamaño.reset_index(drop=True,inplace=True)
td_tamaño['id_tam']=td_tamaño.index+1
td_tamaño.head()

In [ ]:
df=df.merge(td_tamaño,on=lst_dtamaño,how='inner')
df.drop(lst_dtamaño,axis=1,inplace=True)

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df=df[['residential_units','commercial_units','sale_price','id_tiempo','id_ubica','id_cons','id_impu','id_tam']]

In [ ]:
df['n']=1

In [ ]:
df.head()

In [ ]:
aux=df.pivot_table(index=['id_tiempo','id_cons','id_impu','id_tam'], columns=['commercial_units'],aggfunc='sum', values=['sale_price','n'],fill_value=0)

In [ ]:
aux.reset_index(inplace=True)

In [ ]:
aux.shape

In [ ]:
aux.head()

In [ ]:
aux.columns = [f'{i}_{j}' if j != '' else f'{i}' for i,j in aux.columns]

In [ ]:
aux.head()

In [ ]:
th_edf_de_precios=aux.copy()

In [ ]:
en_bi=create_engine('postgresql://aaron:123@localhost/nybi')
en_bi.connect()

In [ ]:
%%time
for t in ['td_tiempo','td_ubica','td_tcons','td_impu','td_units','td_tamaño','th_edf_de_precios']:
    locals()[t].to_sql(con=en_bi,index=False,
                       if_exists='replace',
                       name=t,
                       chunksize=100000)